fastapi==0.141.1
fastapi_mcp==0.4.0
fastmcp==4.0.9
feedparser==6.0.14
gensim==4.4.0
langchain_community==0.4.2
langchain_core==1.6.4
langchain_ollama==1.1.0
matplotlib==3.11.2
nltk==3.10.3
numpy==2.5.3
odfpy==1.4.1
pydantic==2.13.5
python-dotenv==1.2.3
Requests==2.34.2
scikit_learn==1.9.1
spacy==3.8.16
uvicorn==0.53.0
